<div class="container">
  <div class="col-md-6 col-md offset-3">
    <p></p>
    <%= image_tag @pin.image.variant(resize: "500x500") %>
    <h1><%= @pin.title %></h1>
    <p><%= @pin.description %></p>
    <p>Submitted by <%= @pin.user.email %></p>

    <%= link_to "Back", root_path %>
    <%= link_to "Edit", edit_pin_path %>
    <%= link_to "Destroy", pin_path, method: :delete, data: { ocnfirm: "Are you sure?" } %>
  </div>
</div>
